
    <div class="flex row" 
         style="
            width: 100vw;
            height:100vh;">

        <h3 class="ui header">POC</h3>

        <gridster [options]="options" style="flex: 1">
            <gridster-item 
                [item]="item" 
                *ngFor="let item of dashboard" 
                (click)="active(item)"
                (mouseover)="hover(item)">

                <base-component [item]="item"></base-component>
            </gridster-item>
        </gridster>
    </div>
    
    <!--
                             <ndc-dynamic 
                                [ndcDynamicInputs]="createObject(item)"
                                [ndcDynamicComponent]="item.component"></ndc-dynamic>

    -->